@{
    ViewBag.Title = "Inicio";
}

@section Styles {
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
}

<!--Hero-->
<div class="overflow-hidden">
    <div class="container-fluid col-xxl-8">
        <div class="row flex-lg-nowrap align-items-center g-5">
            <div class="order-lg-1 w-100">
                <img style="clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);" src="https://images.unsplash.com/photo-1669101602124-f5b78895d91c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80" class="d-block mx-lg-auto img-fluid" alt="Photo by Milad Fakurian" loading="lazy" srcset="https://images.unsplash.com/photo-1669101602124-f5b78895d91c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80 1170w, https://images.unsplash.com/photo-1669101602124-f5b78895d91c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=150&amp;q=80 150w, https://images.unsplash.com/photo-1669101602124-f5b78895d91c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=300&amp;q=80 300w, https://images.unsplash.com/photo-1669101602124-f5b78895d91c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=768&amp;q=80 768w, https://images.unsplash.com/photo-1669101602124-f5b78895d91c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1024&amp;q=80 1024w" sizes="(max-width: 1170px) 100vw, 1170px" width="2340" height="829">
            </div>
            <div class="col-lg-6 col-xl-5 text-center text-lg-start pt-lg-5 mt-xl-4">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="fw-bold display-3">¡Limpieza impecable para un ambiente perfecto!</h1>
                    </div>
                </div>

                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="rfs-8">Tu aliado confiable para soluciones de limpieza y servicios impecables.</p>
                    </div>
                </div>

                <div class="lc-block mb-6">
                    <a class="btn bg-brand text-white px-4 me-md-2 btn-lg" href="@Url.Action("Productos")" role="button">Ve Nuestros Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Owl Carousel-->
<section class="container my-5 owl-carousel owl-theme owl-loaded">
    @foreach (var producto in ViewBag.Productos)
    {
        <div class="card h-100 custom-card">
            <img src="@producto.imagen" class="card-img-top" alt="@producto.nombre">
            <div class="card-body">
                <h5 class="card-title">@producto.nombre</h5>
                <p class="card-text">@producto.presentacion</p>
                <a href="@Url.Action("DetalleProducto", new { id = producto.ID_producto })" class="btn bg-brand text-white text-center">Ver detalles</a>
            </div>
        </div>
    }
</section>

<!-- Sección "Sobre Nosotros" -->
<section class="container-fluid py-5 bg-brand text-white">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-7 col-xl-6 text-center text-lg-start">
                <div class="lc-block mb-4">
                    <h2 class="fw-bold">Sobre Nosotros</h2>
                </div>
                <div class="lc-block mb-5">
                    <p>Tu satisfacción es nuestra prioridad. En CleanServe, nos especializamos en brindar servicios de limpieza de alta calidad para satisfacer las necesidades de nuestros clientes. Contamos con un equipo profesional y comprometido que se encarga de garantizar un ambiente impecable y saludable para ti y tus seres queridos.</p>
                    <p>Valoramos la confianza que depositas en nosotros y nos esforzamos por superar tus expectativas en cada tarea de limpieza que realizamos. Ya sea que necesites nuestros servicios para tu hogar o tu negocio, estamos aquí para ayudarte a mantener un entorno limpio y acogedor.</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 d-flex justify-content-center">
                <img src="~/Images/Servicio-de-aseo-en-Santiago.jpg" class="img-fluid w-50 object-fit-contain" alt="Imagen Sobre Nosotros">
            </div>
        </div>
    </div>
</section>

<!-- Sección "Proveedores" -->
<section class="container my-5">
    <h2 class="text-center mb-4">Nuestros Proveedores</h2>
    <div class="row">
        @foreach (var proveedor in ViewBag.Proveedor)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://i0.wp.com/telencargos.com/wp-content/uploads/2020/10/Que-necesito-para-abrir-una-empresa-de-limpieza.png" class="card-img-top m-3 w-50 mx-auto" alt="Proveedor 1">
                    <div class="card-body">
                        <h5 class="card-title">@proveedor.razon_social</h5>
                        <p class="card-text">RUC: @proveedor.RUC</p>
                        <p>Email: <a href="#" class="">@proveedor.email</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section class="container-fluid py-5 bg-brand text-white" style="box-shadow: inset 0px -100px 100px -100px #000000; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5 text-center text-lg-start">
                <div class="lc-block mb-4">
                    <h2 class="fw-bold">Contáctanos</h2>
                </div>
                <div class="lc-block mb-5">
                    <p>Estamos listos para ayudarte. Si tienes alguna pregunta, consulta o deseas contratar nuestros servicios, no dudes en contactarnos. Nuestro amable equipo de atención al cliente estará encantado de asistirte.</p>
                </div>
                <div class="lc-block mb-6">
                    <p><strong>Teléfono:</strong> +56 9 3211 2223</p>
                    <p><strong>Correo electrónico:</strong> info@cleanserve.com</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-brand text-white border-white">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                nav: true,
                navText: ["<div class='nav-button owl-prev d-none d-md-none d-lg-block bg-brand'><i class='fa-solid fa-chevron-left'></i></div>", "<div class='nav-button owl-next d-none d-md-none d-lg-block bg-brand'><i class='fa-solid fa-chevron-right'></i></div>"],
                stagePadding: 0,
                loop: true,
                dots: false,
                margin: 5,
                responsiveClass: true,
                items: 5,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    580: {
                        items: 2, // Cambiar de 3 a 2
                    },
                    780: {
                        items: 3, // Cambiar de 3 a 2
                    },
                    1000: {
                        items: 4, // Cambiar de 3 a 2
                    },
                    1200: {
                        items: 5,
                    }
                }
            });
        });
        ;
    </script>
}